<div class="carril" [class.ganador]="esGanador()">
  <div class="pista" [style.background]="jugador().colorClaro">
    @for (celda of celdas(); track celda) {
      <div class="celda" [class.meta]="celda === espaciosMeta() - 1"></div>
    }

    <div class="ficha" [style.bottom]="porcentaje() + '%'">
      <app-avatar-dino
        [especie]="jugador().especie"
        [color]="jugador().color"
        [colorClaro]="jugador().colorClaro"
        [size]="46"
      />
    </div>
  </div>

  <div class="etiqueta">
    <input
      class="nombre-input"
      [style.color]="jugador().color"
      [ngModel]="jugador().nombre"
      (ngModelChange)="onNombreChange($event)"
      maxlength="14"
    />
  </div>
  <span class="numero-dino" [style.color]="jugador().color">{{ jugador().id }}</span>
</div>
